/*.footer {
    height: 8.5% !important;
    padding: 3% 6% 3.5%;
    margin-top: 0%;
}*/

.aligner {
    height: 78% !important;
}

#list {
    height: 85% !important;
}

.ready-container {
    height: auto;
    position: relative !important;
}

.ready-container h3 {
    font: normal 700 1rem/24px Inter;
    margin: 0;
    color: var(--neutral-800);
}

.ready-container p {
    font: normal 0.625rem/16px Inter;
    margin: 0;
    margin-top: 3%;
    color: var(--neutral-500);

}

.ready-container .resultset-container {
    background: var(--neutral-100);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
    box-sizing: border-box;
}

.ready-container div {
    display: flex;
    flex-direction: row;
}

.upload-description {
    font: normal 400 0.875rem/22px Inter;
    margin: 0;
    color: var(--neutral-900);
    display: inline-block;
    margin-top: 4%;
}

#drop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6% 3.4% 8% !important;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 10%;
    height: 94%;
    position: absolute;
    bottom: 0;
}

.options-container h3 {
    font: normal 700 0.875rem/22px Inter;
    color: var(--neutral-700);
    margin: 0 0 0 0;
}

#drop .options-container {
    margin-top: 0%;
    margin-left: 2%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 37%;
    width: 93%;
}

#drop .options-container > div {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 0;
    margin: 0;
}

#drop .options-container > div p {
    font: normal 400 0.625rem/16px Inter;
    display: inline-block;
    float: left;
    margin: 0;
    margin-left: 3%;
    color: var(--neutral-500);
}

#drop .options-container > div svg {
    width: 11%;
    height: auto;
    margin: -2% 2% 0 4%;
}

button {
    outline: none;
    box-shadow: none;
    border: none;
    width: 100%;
    border-radius: 4px;
    padding: 2%;
    box-sizing: border-box;
}

.text-container {
    font-size: 1em;
}

.text-container a {
    line-height: 20%;
}

.buttons-container {
    margin: 0 auto;
    width: 90%;
}

.buttons-container button:nth-child(1) {
    font: normal 500 0.75rem/18px Inter;
    background-color: var(--aux-color-bg);
    color: var(--aux-color);
    margin-bottom: 4%;
}

.buttons-container button:nth-child(2) {
    font: normal 500 0.75rem/18px Inter;
    color: var(--neutral-500);
    background-color: var(--neutral-200);
}

.wrapper-container {
    height: 3.5%;
}

.center {
    height: auto;
    display: none;
}

.aligner {
    height: 100% !important;
}

#drop {
    margin: 0;
}