@import url("https://rsms.me/inter/inter.css");

html {
//max-width: 326px !important;
    max-width: 400px;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0;
    user-select: none;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: "Inter var", sans-serif;
        max-width: 400px !important;
    }
}

:root {

    --neutral-100: #F1F5F9;
    --neutral-200: #E2E8F0;
    --neutral-300: #CFD8E3;
    --neutral-400: #97A6BA;
    --neutral-500: #64748B;
    --neutral-600: #475569;
    --neutral-700: #364152;
    --neutral-800: #27303F;
    --neutral-900: #1A202E;

    --primary-100: #E5EDFF;
    --primary-200: #CDDBFE;
    --primary-300: #B4C6FC;
    --primary-400: #8DA2FB;
    --primary-500: #6875F5;
    --primary-600: #5850EC;
    --primary-700: #5145CD;
    --primary-800: #42389D;
    --primary-900: #362F78;

    --sucess-100: #DEF7EC;
    --sucess-200: #BCF0DA;
    --sucess-300: #84E1BC;
    --sucess-400: #31C48D;
    --sucess-500: #0E9F6E;
    --sucess-600: #057A55;
    --sucess-700: #046C4E;
    --sucess-800: #03543F;
    --sucess-900: #014737;

    --blue-bull-1: #1E3A93;
    --blue-bull-2: #054FAA;
    --blue-bull-3: #009ACE;
    --blue-bull-4: #1A42AC;
    --blue-bull-5: #0273BA;


    --main-font-color: #1A202E;
    --main-drop-background-color: #fff;
    --main-drop-text-color: #27303F;
    --main-drop-text-description-color: #475569;
    --progress-result-text-color: #000;
    --how-to-run-text-color: #64748B;
    --header-color: #fff;
    --lets-create-magic: #1A202E;
    --lets-create-magic-description: #1A202E;
    --progressbar-main-stroke: #0e9f6e;
    --progressbar-shadow-color: #DEF7EC;

    --selection-color: #fff;
    --selection-background: #000;

    --aux-color-bg: #054FAA;
    --aux-color: #fff;
}

.dark-mode {
    --aux-color-bg: #fff;
    --aux-color: #054FAA;
    --neutral-100: #27303F;
    --main-font-color: #fff;
    --main-drop-background-color: #1A202E;
    --main-drop-text-color: #fff;
    --main-drop-text-description-color: #fff;
    --progress-result-text-color: #BCF0DA;
    --how-to-run-text-color: #64748B;
    --header-color: #141A28;
    --lets-create-magic: #fff;
    --lets-create-magic-description: #64748B;
    --progressbar-main-stroke: #31C48D;
    --progressbar-shadow-color: #BCF0DA;

    --neutral-800: #fff;

    --blue-bull-2: #009ACE;


    --blue-bull-1: #1E3A93;
    --blue-bull-2: #fff;
    --blue-bull-3: #009ACE;
    --blue-bull-4: #1A42AC;
    --blue-bull-5: #0273BA;

    --neutral-700: #CFD8E3;
    --neutral-500: #64748B;
    --primary-100: #362F78;
    --neutral-900: #F1F5F9;
    --neutral-800: #E2E8F0;
    --neutral-200: #27303F;


    --selection-background: rgb(255,255,255);
    --selection-color: #000;

}

html,
body {
    height: 100vh;
    margin: 0;
    max-width: 326px !important;
    background: var(--neutral-100);
    user-select: none;
}

::selection {
    background: var(--selection-background);
    color: var(--selection-color);
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.lets-create-magic {
    font: normal 700 1.25rem/30px Inter;
    color: var(--lets-create-magic);
    margin: 0;
    user-select: none;
}

.lets-create-magic-description {
    font: normal 400 0.875rem/22px Inter;
    color: var(--lets-create-magic-description);
    margin: 4% 0;
}

.upload {
    font: normal 700 1rem/24px Inter;
    color: var(--neutral-800);
    margin: 0;
}

.upload-description {
    margin: 0;
    font: normal 400 0.875rem/22px Inter !important;
    color: var(--main-drop-text-description-color);
}

.header {
    width: 100%;
    height: 10%;
    background-color: var(--header-color);
    color: #d3d3d3;
    text-align: center;
    font-size: 10pt;
}

.header svg {
    width: 60%;
    float: left;
}

.header svg rect {
    fill: var(--header-color);
}

.header svg foreignObject img {
    height: 70%;
    margin: 1.5vh 0 1.5vh 9%;
    float: left;
}

/*.footer {
    width: 100%;
    background-color: var(--neutral-100);
    height: 18% !important;
    height: calc(100% * (127 / 700));
    margin: 0;
    padding: 9% 6% 3.5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
}

.footer .popover-container {
    width: 43%;
    height: 63%;
    background: #141a28;
    z-index: 100;
    position: absolute;
    top: -50%;
    padding-top: 1.4%;
    box-sizing: border-box;
    border-radius: 8px;
    display: none;
}

.footer .popover-container .arrow::before {
    content: "";
    position: absolute;
    bottom: -10%;
    left: 20%;
    border-style: solid;
    border-width: 15px 15px 0 15px;
    border-color: #141a28 transparent transparent transparent;
}

.footer .popover-container .arrow p {
    color: #fff;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
}

.report-bug-container {
    position: relative;
    width: 18% !important;
}

.report-bug-container .report-popover-container .arrow {
    width: 100% !important;
    display: flex;
    align-items: center;
}

.report-bug-container .report-popover-container {
    background: #141a28;
    z-index: 100;
    position: absolute;
    padding-top: 1.4%;
    box-sizing: border-box;
    border-radius: 8px;
    width: 200% !important;
    left: -100%;
    top: -400%;
    height: 200%;
    display: none !important;
}

.report-bug-container .arrow::before {
    content: "";
    position: absolute;
    bottom: -30%;
    left: 40%;
    border-style: solid;
    border-width: 15px 15px 0 15px;
    border-color: #141a28 transparent transparent transparent;
    z-index: 0;
}

.report-bug-container .report-popover-container .arrow p {
    color: #fff;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
    display: block;
    width: 100%;
}

.footer .how-to-run-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .how-to-run-container div {
    width: 50%;
    display: flex;
    align-items: center;
}
.footer .how-to-run-container div a {
    display: flex;
    width: 100%;
}
.footer .how-to-run-container .how-to-run-text {
    font: normal 500 0.875rem/22px Inter;
    display: inline-block;
    margin: 0 2%;
    color: var(--how-to-run-text-color);
}

.footer .text-container, .footer-text {
    font: normal 400 0.625rem/22px Inter;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    color: #64748b;
}

.footer-text {
    margin-bottom: -1%;
}

.footer-text a {
    font: normal 400 0.625rem/22px Inter;
    color: #054faa;
}

.footer img {
    height: 100%;
}*/

.text-container {
    width: 100%;
}

.aligner {
    background-color: var(--neutral-100);
    height: 68%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    padding: 0 6% 5%;
}

.aligner #list {
    height: 77%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

#drop {
    width: 90%;
    border-radius: 8px;
    background-color: var(--main-drop-background-color);
    font-size: 20px;
    height: 100%;
    padding: 13% 7%;
    box-sizing: border-box;
    position: relative;
    margin-left: 5%;
}

#drop .progress-result-wrapper {
    margin-top: 5%;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: #362f78;
    font-size: 5px;
    margin: 0 auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    color: #362f78;
    content: "";
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

.drag-container {
    border: 2px dashed #009ace;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20% 0 0 0;
    height: 43%;
}

.drag-container .drag-description {
    font: normal 500 0.875rem/22px Inter;
    margin: 0;
    color: #009ace;
    width: 90%;
    display: inline-block;
    margin-top: 6%;
}

.drag-container .drag-wrapper {
    display: flex;
    align-items: center;
    text-align: center;
    width: 76%;
    height: 32%;
    margin: 0 auto 0;
}

.drag-container .drag-wrapper svg {
    height: 52% !important;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

#drop .ready-container {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
//justify-content: space-between;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 34%;
    padding: 0 4% 0;
    box-sizing: border-box;
}

#drop .ready-container .ready-container-description {
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
}

#drop .ready-container .link-container {
    display: inline-block;
}

#drop .ready-container .link-container p {
    margin: 0;

}

#drop .ready-container .download-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    background: var(--neutral-100);
    padding: 0 5% 0 4%;
    box-sizing: border-box;
    border-radius: 8px;
    height: 48% !important;
    margin-top: 8%;
    margin-left: -2%;
    width: 105%;
}

#drop .ready-container .download-container div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

#drop .ready-container .download-container .download-arrow {
    padding: 3%;
    background-color: var(--primary-100);
    border-radius: 3px;
}

#drop .ready-container .ready-container-footer {
    font: normal 400 0.625rem/0px Inter;
    margin-left: 4%;
}

#drop .ready-container .download-container svg:nth-child(1) {
    width: auto;
}

#drop .ready-container .download-container svg:nth-child(3) {
    height: auto;
    width: auto;
    padding: 4%;
    border-radius: 8px;
    background: var(--primary-100);
}

#drop .ready-container .download-container .download-rect {
    font: normal 400 0.75rem/18px Inter;
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-100);
    width: auto;
    height: 100%;
    margin-left: 3%;
    padding-top: 5%;
    box-sizing: border-box;
}

#drop .ready-container .download-container .download-rect p {
    font: normal 400 0.675rem/0px Inter;
    margin: 0;
    padding-top: 19%;
    margin-left: -45%;
    text-decoration: none !important;
    color: var(--neutral-400);
}

#drop .ready-container #text-container {
    font: normal 700 1rem/24px Inter;
    color: var(--neutral-800);
    margin: 0;
    width: 100%;
}

#drop .ready-container .removable-link {
    background: var(--neutral-100);
}

#drop .ready-container .removable-link .result-link {
    color: var(--blue-bull-2);
}

.track {
    stroke-width: 10%;
    stroke: var(--progressbar-shadow-color);
    fill: none;
}

.progress {
    stroke-width: 10%;
    stroke: var(--progressbar-main-stroke);
    stroke-linecap: round;
    fill: none;
    transform: rotate(-90deg);
    transform-origin: center;
}

#progress-result {
    margin: 0 0 !important;
    font-size: 1.875em;
}

.progressbar-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    margin: 0 auto auto !important;
    top: 0;
    height: 100%;
    width: 100%;
}

#progress-result-text {
    color: var(--progress-result-text-color);
    width: 80%;
    margin: 0 auto !important;
    text-align: center;
    font-size: 0.675em;
}

.progressbar-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    justify-content: center;
    width: 61%;
}

.progressbar-container .progressbar-container-text {
    width: 100%;
    height: 100% !important;
}

.progressbar-container .progressbar-container-text .progress-svg {
    display: flex;
    justify-content: center;
    width: 100%;
}

.progressbar-container .progressbar-container-text .progressbar-text {
    color: var(--progressbar-main-stroke);
    font-size: 1em;
}

.progressbar-container svg {
    margin: 0 auto auto !important;
    height: 100%;
    display: none;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

.sendemail-description {
    height: 36px;
    left: 0;
    right: 10px;
    top: 50px;
    font: normal 400 12px/18px Inter;
    color: #64748b;
}

.button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0273ba;
    color: #fff;
    font: normal 500 14px/22px Inter;
    outline: 0;
    border: none;
    padding: 3%;
    width: 65%;
    border-radius: 8px;
    margin-top: 10%;
    float: right;
}

.button2 svg {
    margin-right: 3%;
}

.icon,
.text {
    vertical-align: middle;
    display: inline-block;
}

#drop form input {
    width: 100%;
    font-size: 0.875em;
    padding: 3%;
    box-sizing: border-box;
    border-radius: 4px;
    outline: 0;
    border: 1px solid #e2e8f0;
    color: #97a6ba;
    margin-bottom: 5%;
}

#drop form label {
    font-size: 0.75em;
    color: #141a28;
}

#drop form input[type="checkbox"] {
    width: auto;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

.toggle-switch {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    float: right;
    background: var(--header-color);
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.wrapper-container {
    width: 100%;
    height: 4%;
    background: var(--neutral-100);
}

.wrapper {
    height: 100%;
    display: none;
}

.wrapper.show {
    display: inline-block;
    animation: show_toast 1s ease forwards;
    width: 100%;
}

@keyframes show_toast {
    0% {
        transform: translateX(-100%);
    }
    40% {
        transform: translateX(10%);
    }
    80%,
    100% {
        transform: translateX(0%);
    }
}

.wrapper.hide {
    animation: hide_toast 1s ease forwards;
}

@keyframes hide_toast {
    0% {
        transform: translateX(20px);
    }
    40% {
        transform: translateX(10%);
    }
    80%,
    100% {
        opacity: 0;
        pointer-events: none;
        transform: translateX(-100%);
    }
}

.wrapper .toast {
    background: #0e9f6e;
    border-radius: 10px;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toast .content {
    display: flex;
    align-items: center;
}

.content .icon {
    border: 1px solid green;
}

.content .icon svg {
    color: #fff;
    text-align: center;
    line-height: 50px;
}

.content .details {
    margin-left: 15px;
}

.details span {
    font: normal 500 0.75rem/16px Inter;
    color: #fff;
}

.details p {
    color: #878787;
}

.toast .close-icon {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

#drop .options-container > div p {
    display: inline-block;
    float: left;
    color: var(--neutral-500);
}